[submodule "vim/vundle/Vundle.vim"]
	path = vim/vundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "bash/bash-completions/git-flow-completion"]
	path = bash/bash-completions/git-flow-completion
	url = git@github.com:petervanderdoes/git-flow-completion.git
